name: Build MAUI APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout do Código
      uses: actions/checkout@v4

    - name: Configurar .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Instalar MAUI Workload
      run: dotnet workload install android --ignore-failed-sources

    - name: Restaurar Dependências
      # Adicionada a flag para ignorar o erro de fim de suporte durante a restauração
      run: dotnet restore /p:CheckEolTargetFramework=false

    - name: Gerar APK (Build)
      # Adicionada a flag para ignorar o erro de fim de suporte durante o build
      run: dotnet build -c Release -f net8.0-android /p:AndroidPackageFormat=apk /p:AndroidManagedSymbols=false /p:CheckEolTargetFramework=false

    - name: Disponibilizar APK para Download
      uses: actions/upload-artifact@v4
      with:
        name: meu-aplicativo-maui
        path: |
          bin/Release/net8.0-android/*-Signed.apk
          bin/Release/net8.0-android/*.apk
          bin/Release/net8.0-android/*-Signed.apk
          bin/Release/net8.0-android/*.apk
